/* google */
span.S3Uucc{
    border:solid 1px red;
}

/* youtube */
#content.ytd-rich-item-renderer{
    border:solid 1px red;
}

#dismissable.style-scope.ytd-grid-video-renderer{
    border:solid 1px red;
}

#dismissable.style-scope.ytd-video-renderer{
    border:solid 1px red;
}